################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OcenaKlientow.Tests/bin/x86/Debug
