################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OcenaKlientow.Tests/bin/x86/Debug
/OcenaKlientow/obj/x86/Release
/packages
/OcenaKlientowUITests/bin/Debug
/OcenaKlientow/bin/x86/Release
/OcenaKlientow.Tests/bin/x86/Release
/OcenaKlientow.Tests/obj/x86/Release/ilc
/OcenaKlientowUITests/bin/Release
/OcenaKlientow.Tests/obj/x86/Release
/dok
/OcenaKlientow/html/search
/OcenaKlientow/doxysearch.cgi.exe
/OcenaKlientow/doxyindexer.exe
/OcenaKlientow/doxygen.exe
/OcenaKlientow/Doxyfile
